In [1]:
print('hello')

hello

Python Zero to Hero - Numbers

In [2]:
2+1

3

In [3]:
2-1

1

In [4]:
2*3

6

In [5]:
3/2

1.5

Mod Operator

In [6]:
7%4

3

In [7]:
50%5

0

In [8]:
2**3

8

In [9]:
2+9*3+8

37

In [10]:
(2+9)*3+8

41

In [11]:
(2+9)*(3+8)

121

In [12]:
6^6

0

In [13]:
1/2

0.5

Variable Assignment

In [17]:
a=5

In [18]:
a

5

In [19]:
a=10

In [20]:
a

10

In [21]:
a+a

20

In [22]:
a^a

0

In [23]:
a-a

0

In [24]:
a**a

10000000000

In [25]:
a=a+a

In [26]:
a

20

In [27]:
type(a)

int

In [28]:
a=14.1

In [29]:
type(a)

float

In [34]:
my_income = 100

In [35]:
tax_rate = 0.1

In [36]:
my_taxes = my_income * tax_rate

In [37]:
my_taxes

10.0

Strings

In [38]:
"hello"

'hello'

In [39]:
'hello'

'hello'

In [40]:
"i dont't want that"

"i dont't want that"

In [41]:
"hello world"

'hello world'

In [42]:
print('hello world')

hello world

In [45]:
print('hello \tworld')

hello 	world

In [46]:
len('hello')

5

In [47]:
mystring = "hello world"

In [48]:
mystring[0]

'h'

In [49]:
mystring[1]

'e'

In [50]:
mystring[-1]

'd'

In [51]:
mystring[6]

'w'

In [52]:
mystring[6,-4,-5]

TypeError: string indices must be integers

In [53]:
mystring{[6],[-4],[-5]}

SyntaxError: invalid syntax (<ipython-input-53-ff64a49aee9f>, line 1)

In [54]:
mystring='abcdefghijk'

In [55]:
mystring[-3:]

'ijk'

In [56]:
mystring[-8]

'd'

In [57]:
mystring[:-8]

'abc'

In [58]:
mystring[0,2,5]

TypeError: string indices must be integers

In [59]:
mystring[::-1]

'kjihgfedcba'

In [60]:
mystring[::]

'abcdefghijk'

In [61]:
mystring[:6:2]

'ace'

Reverse The String

In [62]:
mystring[::-1]

'kjihgfedcba'

Immutability of Strings

In [63]:
name = "Sam"

In [64]:
name[0]='P'

TypeError: 'str' object does not support item assignment

In [65]:
last=name[1:]

In [66]:
last

'am'

In [67]:
'p'+last

'pam'

In [68]:
'p'*9

'ppppppppp'

In [69]:
'2'+'3'

'23'

In [70]:
x='hello world'

In [72]:
x.capitalize()

'Hello world'

In [73]:
x.casefold()

'hello world'

In [74]:
x.upper()

'HELLO WORLD'

In [75]:
x='hi this is a string'

In [81]:
x.split('in')

['hi this is a str', 'g']

Print Formatting with Strings

.format() method

In [84]:
print('this is a string {}'.format('inserted','inserted twice'))

this is a string inserted

In [89]:
print('{jb} {a} {jg}'.format(jg='jill',h='hill',jb='jack',a='and'))

jack and jill

Float Formatting

In [90]:
result=111/777

In [95]:
result=1000/777

In [100]:
print("The result is {r:10.10f}".format(r=result))

The result is 1.2870012870

In [103]:
name = 'Nitin'
age=32

In [104]:
print(f'His name is {name} and he is {age} years old')

His name is Nitin and he is 32 years old

In [105]:
print("I'm going to inject %s here." %'something')

I'm going to inject something here.

In [116]:
x,y ='and','band'
print("I'm going to inject %s  here." %(x,y))

TypeError: not all arguments converted during string formatting

In [124]:

print('He said his name was %s.' %3.75)
print('He said his name was %.2f.' %3.75)

He said his name was 3.75.
He said his name was 3.75.

In [125]:

print('A %s saved is a %s earned.' %('penny','penny'))

A penny saved is a penny earned.

In [131]:
print('{0:*<9} | {1:$^9} | {2:#>9}'.format('Left','Center','Right'))
print('{0:*<9} | {1:$^9} | {2:#>9}'.format(11,22,33))

Left***** | $Center$$ | ####Right
11******* | $$$22$$$$ | #######33

lists

In [132]:
my_l=[1,2,3]

In [133]:
my_l

[1, 2, 3]

In [137]:
my_l[:3]

[1, 2, 3]

In [138]:

[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [142]:
andy=['toy','bus','bag']
andy

['toy', 'bus', 'bag']

In [143]:
andy[0]='chalk'

In [144]:
andy

['chalk', 'bus', 'bag']

In [145]:
andy.append('duster')

In [146]:
andy

['chalk', 'bus', 'bag', 'duster']

In [148]:
andy.pop()

'duster'

In [149]:
andy

['chalk', 'bus', 'bag']

In [150]:
andy.pop(1)

'bus'

In [151]:
andy

['chalk', 'bag']

In [152]:
alp_l=['a','z','r','t','n','i','t','i','n']
num_l=[1,7,4,5,3,6,2,9,8]

In [153]:
alp_l.sort()

In [154]:
alp_l

['a', 'i', 'i', 'n', 'n', 'r', 't', 't', 'z']

In [155]:
num_l.sort()

In [156]:
num_l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [157]:
num_l.reverse()

In [158]:
num_l

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [163]:
num_la = [num_l.reverse()]

In [164]:
num_l

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [165]:
num_la

[None]

In [166]:
d={'k1':20,'k2':'aunty','k3':['dance',1,'yeah'],'k4':{'ik1':'insidestory'}}

In [173]:
d['k3'][2]

'yeah'

In [176]:
d['k1']=100

In [177]:
d

{'k1': 100,
 'k2': 'aunty',
 'k3': ['dance', 1, 'yeah'],
 'k4': {'ik1': 'insidestory'}}

In [179]:
d.items()

dict_items([('k1', 100), ('k2', 'aunty'), ('k3', ['dance', 1, 'yeah']), ('k4', {'ik1': 'insidestory'})])

In [180]:
d.fromkeys()

TypeError: fromkeys expected at least 1 arguments, got 0

In [181]:
d.keys()

dict_keys(['k1', 'k2', 'k3', 'k4'])

In [182]:
d.values()

dict_values([100, 'aunty', ['dance', 1, 'yeah'], {'ik1': 'insidestory'}])

readin and writing files

In [205]:

%%writefile test.txt
Hello, this is a quick test file.
this is a second line
this is 3rd line

Overwriting test.txt

In [189]:
my_file = open('test.txt')

In [193]:
my_file.read()

''

In [203]:
my_file.seek(0)

0

In [204]:
my_file.readline()

'Hello, this is a quick test file.\n'

In [209]:
with open ('test.txt',mode='r')as f:
    print (f.read())

Hello, this is a quick test file.
this is a second line
this is 3rd line

In [210]:
with open ('test.txt',mode='a')as f:
    f.write('this is 4th line')

In [211]:
with open ('test.txt',mode='r')as f:
    print (f.read())

Hello, this is a quick test file.
this is a second line
this is 3rd line
this is 4th line

In [212]:
with open('abcdtest.txt',mode='w') as f:
    f.write('this is just garbage file')

In [213]:
with open('abcdtest.txt',mode='r') as f:
    print(f.read())

this is just garbage file

In [214]:
100+0.25

100.25

In [216]:
101-.75

100.25

In [217]:
401/4

100.25

In [218]:
100.25/4

25.0625

In [219]:
25.0625*4

100.25

In [220]:
4 * (6 + 5)

44

In [221]:
4 * 6 + 5

29

In [222]:
4 + 6 * 5

34

In [224]:
3 + 1.5 + 4

8.5

In [225]:
type(3 + 1.5 + 4)

float

In [226]:
4**(1/2)

2.0

In [227]:
2**2

4

In [228]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

In [233]:
s[::-1]

'olleh'

In [234]:
s[-1]

'o'

In [235]:
s[4]

'o'

In [238]:
lst = [0]*3

In [239]:
lst

[0, 0, 0]

In [241]:
lst2 = [0,0,0]
lst2

[0, 0, 0]

In [242]:

list3 = [1,2,[3,4,'hello']]

In [245]:
list3[2][2]='goodbye'

In [246]:
list3

[1, 2, [3, 4, 'goodbye']]

In [247]:

list4 = [5,3,4,6,1]
list4.sort()

In [248]:
list4

[1, 3, 4, 5, 6]

In [250]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [251]:

d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [257]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

d['k1'][0]['nest_key'][1][0]

'hello'

In [264]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [265]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [266]:
3.0 == 3

True

In [268]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
#3>=4

False

If else nd elifs

In [273]:
x=5
if x%2==0:
    print('x is an even number')
else:
    print('x is an odd number')

x is an odd number

In [286]:
myl=[1,2,3,4,5,6,7,8,9,10]
myt="nitinpandya26@gmail.com"

In [298]:
lsum=0
for num in myl:
    lsum = num + lsum
    print (f'The new sum is {lsum}')

The new sum is 1
The new sum is 3
The new sum is 6
The new sum is 10
The new sum is 15
The new sum is 21
The new sum is 28
The new sum is 36
The new sum is 45
The new sum is 55

In [303]:
for _ in 'nitin':
    print ("this")

this
this
this
this
this

In [308]:
myl=[(1,2),(3,4),(5,6),(7,8)]

for item in myl:
    for tat in item:
        print (tat)

1
2
3
4
5
6
7
8

In [310]:
mys='nitinpandya'
for let in mys:
    print (let)

n
i
t
i
n
p
a
n
d
y
a

In [321]:
mys='nitinpandya'
for let in mys:
    if let == 'a':
        continue
    print (let)

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(x)? (<ipython-input-321-9e3f6a72d162>, line 11)

In [330]:
x=0

while x<=50000:

    if x%1700==0:
        print (x)
    x=x+1

0
1700
3400
5100
6800
8500
10200
11900
13600
15300
17000
18700
20400
22100
23800
25500
27200
28900
30600
32300
34000
35700
37400
39100
40800
42500
44200
45900
47600
49300

In [337]:
for num in range(2,10,2):
    print (num)

2
4
6
8

In [342]:
list(range(2,10,2))

[2, 4, 6, 8]

In [345]:
indexc=0

for letter in 'abcdefghijklmnopqrstuvwxyz':
    print ('At index {} the letter is {}'.format(indexc,letter))
    indexc+=1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e
At index 5 the letter is f
At index 6 the letter is g
At index 7 the letter is h
At index 8 the letter is i
At index 9 the letter is j
At index 10 the letter is k
At index 11 the letter is l
At index 12 the letter is m
At index 13 the letter is n
At index 14 the letter is o
At index 15 the letter is p
At index 16 the letter is q
At index 17 the letter is r
At index 18 the letter is s
At index 19 the letter is t
At index 20 the letter is u
At index 21 the letter is v
At index 22 the letter is w
At index 23 the letter is x
At index 24 the letter is y
At index 25 the letter is z

In [351]:
word='abcde'
for index,letter in enumerate(word):

    print(letter)

a
b
c
d
e

In [375]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [10,20,30]

In [376]:
for x,y,z in zip(mylist1,mylist2,mylist3):
    print (z)

10
20
30

In [377]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 10), (2, 'b', 20), (3, 'c', 30)]

In [378]:
1 in [1,2,3]

True

In [379]:
d={'k1':123,'k2':456}

'k1' in d.keys()

True

In [382]:
from random import shuffle

shuffle(mylist2)

print(mylist2)

['b', 'c', 'a']

In [383]:
from random import randint

In [384]:
randint(0,90)

62

In [385]:
 randint(0,900)

311

In [387]:
res = input('Enter the number here:')

Enter the number here:23

In [388]:
print(res)

23

In [389]:
mystring = 'nitinpandya'
mylist = []

for letter in mystring:
    mylist.append(letter)

In [390]:
mylist

['n', 'i', 't', 'i', 'n', 'p', 'a', 'n', 'd', 'y', 'a']

In [392]:
mylist=[letter for letter in mystring]

In [393]:
mylist

['n', 'i', 't', 'i', 'n', 'p', 'a', 'n', 'd', 'y', 'a']

In [394]:
 mylist3 = [x for x in 'rockon']

In [395]:
mylist3

['r', 'o', 'c', 'k', 'o', 'n']

In [402]:
mylist4 = [num**2 for num in range(0,10) if num%2==0]
mylist4

[0, 4, 16, 36, 64]

In [412]:

fah = [((9/5)*temp +32) for temp in range(0,101) if temp<39]
fah

[32.0,
 33.8,
 35.6,
 37.4,
 39.2,
 41.0,
 42.8,
 44.6,
 46.4,
 48.2,
 50.0,
 51.8,
 53.6,
 55.400000000000006,
 57.2,
 59.0,
 60.8,
 62.6,
 64.4,
 66.2,
 68.0,
 69.80000000000001,
 71.6,
 73.4,
 75.2,
 77.0,
 78.80000000000001,
 80.6,
 82.4,
 84.2,
 86.0,
 87.80000000000001,
 89.6,
 91.4,
 93.2,
 95.0,
 96.8,
 98.60000000000001,
 100.4]

In [417]:
results = [x if x%2==0   else 'odd' for x in range(0,11)]
results

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [425]:
mylist=[]

for x in [1,2,3]:
    for y in [100,200,300]:
        mylist.append(x*y)
    

mylist

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [430]:
mylist1 = [x*y for x in [1,2,3] for y in [100,200,300]]

In [431]:
mylist1

[100, 200, 300, 200, 400, 600, 300, 600, 900]

In [473]:
st = 'Print only the words that start with s in this sentence'

for x in st.split():
    if x[0]=='s':
        print (x)

start
s
sentence

In [475]:
for i in range(0,11):
    if i%2==0:
        print (i)

0
2
4
6
8
10

In [485]:
x= [num for num in range(1,51) if num%3==0]
x

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [498]:
st = 'Print every word in this sentence that has an even number of letters'

for x in st.split():
    a=len(x)
    b=len(x)
    if len(x)%2==0:
        
        print (x,f'has even = {a}letters')
    else:
        print (x,f'has odd = {a}letters')
    a=0
    b=b+len(x)
    
    print (b)

Print has odd = 5letters
10
every has odd = 5letters
10
word has even = 4letters
8
in has even = 2letters
4
this has even = 4letters
8
sentence has even = 8letters
16
that has even = 4letters
8
has has odd = 3letters
6
an has even = 2letters
4
even has even = 4letters
8
number has even = 6letters
12
of has even = 2letters
4
letters has odd = 7letters
14

In [509]:
for num in range(1,101):
    if num%3==0:
        print (num,'Fizz')
    if num%5==0:
        print (num,'Buzz')
    if num%3==0 and num%5==0:
        print (num,'FizzBuzz')
    else:
        print(num)

1
2
3 Fizz
3
4
5 Buzz
5
6 Fizz
6
7
8
9 Fizz
9
10 Buzz
10
11
12 Fizz
12
13
14
15 Fizz
15 Buzz
15 FizzBuzz
16
17
18 Fizz
18
19
20 Buzz
20
21 Fizz
21
22
23
24 Fizz
24
25 Buzz
25
26
27 Fizz
27
28
29
30 Fizz
30 Buzz
30 FizzBuzz
31
32
33 Fizz
33
34
35 Buzz
35
36 Fizz
36
37
38
39 Fizz
39
40 Buzz
40
41
42 Fizz
42
43
44
45 Fizz
45 Buzz
45 FizzBuzz
46
47
48 Fizz
48
49
50 Buzz
50
51 Fizz
51
52
53
54 Fizz
54
55 Buzz
55
56
57 Fizz
57
58
59
60 Fizz
60 Buzz
60 FizzBuzz
61
62
63 Fizz
63
64
65 Buzz
65
66 Fizz
66
67
68
69 Fizz
69
70 Buzz
70
71
72 Fizz
72
73
74
75 Fizz
75 Buzz
75 FizzBuzz
76
77
78 Fizz
78
79
80 Buzz
80
81 Fizz
81
82
83
84 Fizz
84
85 Buzz
85
86
87 Fizz
87
88
89
90 Fizz
90 Buzz
90 FizzBuzz
91
92
93 Fizz
93
94
95 Buzz
95
96 Fizz
96
97
98
99 Fizz
99
100 Buzz
100

In [507]:
st = 'Create a list of the first letters of every word in this string'

list = [x[0] for x in st.split()]
list

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [521]:
from random import randint

In [522]:
num= randint(1,100)

In [523]:
print("WELCOME TO GUESS ME!")
print("I'm thinking of a number between 1 and 100")
print("If your guess is more than 10 away from my number, I'll tell you you're COLD")
print("If your guess is within 10 of my number, I'll tell you you're WARM")
print("If your guess is farther than your most recent guess, I'll say you're getting COLDER")
print("If your guess is closer than your most recent guess, I'll say you're getting WARMER")
print("LET'S PLAY!")

WELCOME TO GUESS ME!
I'm thinking of a number between 1 and 100
If your guess is more than 10 away from my number, I'll tell you you're COLD
If your guess is within 10 of my number, I'll tell you you're WARM
If your guess is farther than your most recent guess, I'll say you're getting COLDER
If your guess is closer than your most recent guess, I'll say you're getting WARMER
LET'S PLAY!

In [524]:
guesses = [0]

In [525]:
while True:
    guess = int(input('I am thinking a number between 1 to 100, what is your guess?'))
    
    if guess<1 or guess >100:
        print ('OUT OF BOUNDS! Please try again:')
        continue
    
    break

while True:

    # we can copy the code from above to take an input
    guess = int(input("I'm thinking of a number between 1 and 100.\n  What is your guess? "))
    
    if guess < 1 or guess > 100:
        print('OUT OF BOUNDS! Please try again: ')
        continue
    
    # here we compare the player's guess to our number
    if guess == num:
        print(f'CONGRATULATIONS, YOU GUESSED IT IN ONLY {len(guesses)} GUESSES!!')
        break
        
    # if guess is incorrect, add guess to the list
    guesses.append(guess)
    
    # when testing the first guess, guesses[-2]==0, which evaluates to False
    # and brings us down to the second section
    
    if guesses[-2]:  
        if abs(num-guess) < abs(num-guesses[-2]):
            print('WARMER!')
        else:
            print('COLDER!')
   
    else:
        if abs(num-guess) <= 10:
            print('WARM!')
        else:
            print('COLD!')

I am thinking a number between 1 to 100, what is your guess?25
I'm thinking of a number between 1 and 100.
  What is your guess? 25
COLD!
I'm thinking of a number between 1 and 100.
  What is your guess? 35
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 40
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 42
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 40
COLDER!
I'm thinking of a number between 1 and 100.
  What is your guess? 45
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 50
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 70
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 80
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 90
COLDER!
I'm thinking of a number between 1 and 100.
  What is your guess? 85
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 82
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 81
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 86
COLDER!
I'm thinking of a number between 1 and 100.
  What is your guess? 84
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 80
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 79
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 75
COLDER!
I'm thinking of a number between 1 and 100.
  What is your guess? 77
CONGRATULATIONS, YOU GUESSED IT IN ONLY 19 GUESSES!!

In [528]:
def sh(naam):
    print(f'hello {naam}')
    print('how are you')

In [529]:
sh('nitin')

hello nitin
how are you

In [548]:
def even_check_list(num_list):
    
    evennum=[]
    
    for num in num_list:
        res = num%2==0
        evennum.append(res)
        pass
    
    return evennum

In [549]:
even_check_list([1,2,3,10,9,8,67,6,88])

[False, True, False, True, False, True, False, True, True]

In [550]:
def emp_check(work_hrs):
    
    curr_max=0
    emp_name=''
    
    for emp,hrs in work_hrs:
        if hrs>curr_max:
            curr_max=hrs
            emp_name=emp
        else:
            pass
        
    return (emp_name,curr_max)

In [551]:
work_h = [('a',100),('b',200),('c',300)]

In [552]:
emp_check(work_h)

('c', 300)

guess game

In [585]:
#initialise list

my_list = ['','','0']

#shuffle list
from random import shuffle

def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [586]:
shuffled_list = shuffle_list(my_list)
shuffled_list

['', '', '0']

In [587]:
def player_guess():
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input('Pick a number: 0,1 or 2 > ')
        
    return int(guess)

In [588]:
guess = player_guess()

Pick a number: 0,1 or 2 > 2

In [589]:
def check_guess(my_list,guess):
    if my_list[guess]=='0':
        print('Correct')
    else:
        print('Wrong Guess!')
        print (my_list)

In [590]:
check_guess(shuffled_list,guess)

Correct

In [599]:
'nitin'.upper()

'NITIN'

In [610]:
def myfunc(x):
    a=''
    for i in range(0,len(x)):
        if i%2==0:
            u=x[i].lower()
            a=a+u
        else:
            l=x[i].upper()
            a=a+l
    return a

In [611]:
myfunc('nitinpandya')

'nItInPaNdYa'

In [619]:
def lesser_of_two_evens(a,b):
    if a%2==0:
        if b%2==0:
            return min(a,b)
        else:
                pass
    return max (a,b)

In [622]:
lesser_of_two_evens(2,6)

2

In [623]:
n='nitin pandya'
n.split()

['nitin', 'pandya']

In [631]:
def animal_cracker(text):
    a=text.split()
    if a[0][0]==a[1][0]:
        return True
    else:
        return False

In [632]:
animal_cracker('richa pandya')

False

In [634]:
def makes_twenty(x,y):
    if x== 20:
        return True
    elif y==20:
        return True
    elif x+y==20:
        return True
    else:
        return False

In [635]:
makes_twenty(10,2)

False

In [638]:
makes_twenty(2,3)

False

In [663]:
def old_macdonald(name):
    one=name[0].upper()
    four=name[3].upper()
    return (one+name[1:3]+four+name[4:])

In [662]:
#name='nitinpandya'
#old_macdonald(name)

name = 'nitinpandya'
one= name[0].upper()
one
four= name[3].upper()
four
one+name[1:3]+four+name[4:]

'NitInpandya'

In [665]:
name='nitinpandya'
old_macdonald('macdonald')

'MacDonald'

In [674]:
def master_yoda(text):
    a=text.split()
    a=a[::-1]
    m=' '.join(a)
    return m

In [676]:
master_yoda('we are ready')

'ready are we'

In [677]:
def almost_there(n):
    if (n<=110 and n>=90):
        return True
    elif (n<=210 and n>=190):
        return True
    else:
        return False

In [681]:
almost_there(209)

True

In [686]:
def has_33(nums):
    a=''
    b=''
    for num in nums:
        if a=='':
            a=num
        else:
            b=num
            if a==b:
                return True
            else:
                a=b
    return False

In [690]:
has_33([1, 3, 3,3,3,3])

True

In [691]:
has_33([1, 3, 1, 3,3])

True

In [693]:
has_33([3, 1, 3,4,5,4,5,4,5,5,3])

True

In [2]:
for i in 'text':
    print(i)

t
e
x
t

In [5]:
def paper_doll(text):
    a=''
    for i in range(0,len(text)):
        a=a+text[i]*3
        pass
    return a

In [7]:
paper_doll('Hello')

'HHHeeellllllooo'

In [8]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

In [13]:

def blackjack(a,b,c):
    if a==11 or b==11 or c==11:
        return a+b+c-10
    elif a+b+c<=21:
        return a+b+c
    elif a+b+c>21:
        return 'BUST'
    else:
        pass

In [19]:
blackjack(7,7,10)

'BUST'

In [15]:
blackjack(9,9,9)

'BUST'

In [16]:
blackjack(9,9,11)

19

In [41]:
def summer_69(arr):
    a=0
    add=True
    for num in arr:
        while add:
            if num!=6:
                a=a+num
                break
            else: 
                add= False
        while not add:
            if num!=9:
                break
            else:
                add=True
    return a

In [42]:
summer_69([1, 3, 5])

9

In [43]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [44]:
summer_69([2, 1, 6, 9, 11])

14

In [45]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [47]:
print_big('e')

*****
*
*****
*
*****

In [48]:

def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [49]:
count_primes(1000)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]

168

In [50]:
def square(num):
    return num**2

my_nums = [1,2,3,4,5]

In [53]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [62]:
def splicer(mystring):
    if len(mystring)%2 == 0:
        return 'EVEN'
    else:
        return mystring[0].upper()

In [63]:
names=['ajay','vijay','harshad','damodar']
list(map(splicer,names))

['EVEN', 'V', 'H', 'D']

In [64]:
def even(n):
    return n%2==0

In [65]:
even(3)

False

In [66]:
list(filter(even,my_nums))

[2, 4]

In [68]:
for item in filter(even,my_nums):
    print(item)

2
4

In [71]:
list(filter(lambda n:n%2==0,my_nums))

[2, 4]

In [74]:
def vol(rad):
    return ((4/3)*(22/7)*rad**3)

In [75]:
vol(2)

33.52380952380952

In [78]:
def ran_check(num,low,high):
    if num<=high and num>=low:
        #print(f'{num} is in range between {low} and {high}')
        return True

In [80]:
ran_check(3,1,10)

True

In [87]:
def up_low(s):
    l=0
    u=0
    for i in range(0,len(s)):
        if s[i].isupper()==True:
            u=u+1
        elif s[i].islower()==True:
            l=l+1
        else:
            pass
    print(f'No. of Upper case characters :  {u}')
    print(f'No. of Lower case characters :  {l}')
    print(f'Original String : {s}')

In [88]:
s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of Upper case characters :  4
No. of Lower case characters :  33
Original String : Hello Mr. Rogers, how are you this fine Tuesday?

In [91]:
def unique_list(lst):
    return list(set(lst))

In [92]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [95]:
def multiply(numbers): 
    prod=1
    
    for num in numbers:
        prod = prod*num
    return prod

In [96]:
multiply([1,2,3,-4])

-24

In [118]:

def palindrome(text):
    stat = ''
    text = text.replace(' ','')
    if text[::-1]==text:
        stat= True
    else:
        stat = False
    return stat

In [119]:
palindrome('nurses run')

True

In [ ]:
text.replace(' ','')

In [156]:

import string

def ispangram(str1, alphabet=string.ascii_lowercase):

SyntaxError: unexpected EOF while parsing (<ipython-input-156-4f8c18d5fb23>, line 4)

In [207]:




import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    
    alphaset=set(alphabet)
    
    str1 = str1.replace(" ",'')
    str1 = str1.lower()
    str1 = set(str1)
    
    return str1==alphaset

In [209]:
ispangram("The quick brown fox jumps over the lazy dog")

True